<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/client/select-device"></ion-back-button>
        </ion-buttons>
    <ion-title>البيانات الشخصية</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   

  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating" dir="rtl">اسم العميل</ion-label>
      <ion-input formControlName="NAME" [(ngModel)]="profileData.NAME" type="text"></ion-input>
    </ion-item>
    <div *ngIf="form.controls['NAME'].invalid && (form.controls['NAME'].dirty || form.controls['NAME'].touched)" class="alert alert-danger">
      <div *ngIf="form.controls['NAME'].errors.required">من فضلك اكتب اسمك</div>
      <div *ngIf="form.controls['NAME'].errors.minLength">الاسم قصير جداً</div>
    </div>
    
    <ion-item>
      <ion-label  position="stacked" > رقم تليفون أرضي</ion-label>
      <ion-input formControlName="TEL1"  [(ngModel)]="profileData.TEL1" type="phone" inputmode="tel" maxlength="9"></ion-input>
    </ion-item>
        <div *ngIf="form.controls['TEL1'].invalid && (form.controls['TEL1'].dirty || form.controls['TEL1'].touched)" class="alert alert-danger">
          <div *ngIf="form.controls['TEL1'].errors.minLength">رقم التليفون قصير جداً</div>
          <div *ngIf="form.controls['TEL1'].errors.maxlength">رقم التليفون كبير جداً</div>
        </div>

    <ion-item>
      <ion-label position="stacked">رقم الموبايل </ion-label>
      <ion-input formControlName="MOBIL" type="phone"  [(ngModel)]="profileData.MOBIL" inputmode="tel" [disabled]="profileData.MOBIL==phone" maxlength="11"></ion-input>
    </ion-item>
    <div *ngIf="form.controls['MOBIL'].invalid && (form.controls['MOBIL'].dirty || form.controls['MOBIL'].touched)" class="alert alert-danger">
      <div *ngIf="form.controls['MOBIL'].errors.minLength">رقم المحمول قصير جداً</div>
      <div *ngIf="form.controls['MOBIL'].errors.maxlength">رقم المحمول كبير جداً</div>
    </div>
    <ion-item>
        <ion-label position="stacked">رقم موبايل آخر</ion-label>
        <ion-input formControlName="MOBIL1"  [(ngModel)]="profileData.MOBIL1" type="phone"  [disabled]="profileData.MOBIL1==phone" inputmode="tel"  maxlength="11"></ion-input>
      </ion-item>
          <div *ngIf="form.controls['MOBIL1'].invalid && (form.controls['MOBIL1'].dirty || form.controls['MOBIL1'].touched)" class="alert alert-danger">
            <div *ngIf="form.controls['MOBIL1'].errors.minLength">رقم المحمول قصير جداً</div>
            <div *ngIf="form.controls['MOBIL1'].errors.maxlength">رقم المحمول كبير جداً</div>
          </div>
    <ion-item>
        <ion-label position="stacked">رقم موبايل آخر</ion-label>
        <ion-input formControlName="MOBIL2" type="phone"  [(ngModel)]="profileData.MOBIL2" [disabled]="profileData.MOBIL2==phone" inputmode="tel"  maxlength="11"></ion-input>
      </ion-item>
          <div *ngIf="form.controls['MOBIL2'].invalid && (form.controls['MOBIL2'].dirty || form.controls['MOBIL2'].touched)" class="alert alert-danger">
            <div *ngIf="form.controls['MOBIL2'].errors.minLength">رقم المحمول قصير جداً</div>
            <div *ngIf="form.controls['MOBIL2'].errors.maxlength">رقم المحمول كبير جداً</div>
          </div>
    <ion-item>
        <ion-label position="stacked">رقم مختصر</ion-label>
        <ion-input formControlName="HOT_LINE" type="phone"  [(ngModel)]="profileData.HOT_LINE" inputmode="tel"  maxlength="6"></ion-input>
      </ion-item>
        <div *ngIf="form.controls['HOT_LINE'].invalid && (form.controls['HOT_LINE'].dirty || form.controls['HOT_LINE'].touched)" class="alert alert-danger">
          <div *ngIf="form.controls['HOT_LINE'].errors.minLength">الرقم المختصر قصير جداً</div>
          <div *ngIf="form.controls['HOT_LINE'].errors.maxlength">الرقم المختصر كبير جداً</div>
        </div>

   
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="6"> 
          <ion-button  expand="full" block color="primary"  [disabled]="form.invalid" (click)="saveProfile()">
            حفظ البيانات
          </ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button  expand="full" block color="secondary"   (click)="cancel()">
                الغــاء
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
     
  </ion-toolbar>
</ion-footer>